<mat-accordion>
  <mat-expansion-panel *ngFor="let database of (database$|async)?.databases" class="example-headers-align" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{database.name}}</b>
      </mat-panel-title>
      <mat-panel-description>
        {{database.databases.length}} databases versions
        <mat-icon>storage</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let db of database.databases" class="example-headers-align" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>{{db.version}}</b>
          </mat-panel-title>
          <mat-panel-description>
            {{db.databases.length}} steps in the installation
            <mat-icon>description</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-accordion *ngIf="db.databases.length > 0">
          <mat-expansion-panel *ngFor="let dbVersion of db.databases" class="example-headers-align" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>{{dbVersion.version}}</b> -
                <span>{{dbVersion.databaseUserToUse}}</span>
              </mat-panel-title>
              <mat-panel-description>
                {{dbVersion.databaseFiles.length}} database scripts
                <mat-icon>class</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-accordion *ngIf="dbVersion.databaseFiles.length > 0">
              <mat-expansion-panel *ngFor="let dbFile of dbVersion.databaseFiles" class="example-headers-align" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{dbFile.filePath}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{dbFile.position}}
                    <mat-icon>insert_drive_file</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-action-row>
                  <button mat-button color="primary" (click)="onInstall('File', dbFile)">Run script</button>
                </mat-action-row>

              </mat-expansion-panel>
            </mat-accordion>

            <mat-action-row>
              <button mat-button color="primary" (click)="onInstall('Version step', dbVersion)">Install version step</button>
            </mat-action-row>

          </mat-expansion-panel>
        </mat-accordion>

        <mat-action-row>
          <button mat-button color="primary" (click)="onInstall('Version', db)">Install version</button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-action-row>
      <button mat-button color="primary" (click)="onInstall('Application', database)">Install application</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>