<mat-accordion>
  <mat-expansion-panel *ngFor="let database of (database$|async)?.databases" class="example-headers-align" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{database.name}}</b>
      </mat-panel-title>
      <mat-panel-description>
        {{database.databases.length}} databases versions
        <mat-icon>storage</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let db of database.databases" class="example-headers-align" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>{{db.version}}</b>
          </mat-panel-title>
          <mat-panel-description>
            {{db.databases.length}} steps in the installation
            <mat-icon>description</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-accordion *ngIf="db.databases.length > 0">
          <mat-expansion-panel *ngFor="let dbVersion of db.databases" class="example-headers-align" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>{{dbVersion.version}}</b> -
                <span>{{dbVersion.databaseToUse}}</span>
              </mat-panel-title>
              <mat-panel-description>
                {{dbVersion.databaseFiles.length}} database scripts
                <mat-icon>class</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-action-row>
              <span class="cannot-install-text" *ngIf="!database.parametersSet[(management$|async).environment]">Cannot install version as some parameters are missing. <a (click)="onSelectDatabase(database)" style="cursor: pointer; color: blue;">Sort it</a></span>
              <button mat-button color="primary" (click)="onInstall({repoName: database.name, version: db.version, database: dbVersion.databaseToUse})" *ngIf="database.parametersSet[(management$|async).environment]">Install version step</button>
            </mat-action-row>

          </mat-expansion-panel>
        </mat-accordion>

        <mat-action-row>
          <span class="cannot-install-text" *ngIf="!database.parametersSet[(management$|async).environment]">Cannot install version as some parameters are missing. <a (click)="onSelectDatabase(database)" style="cursor: pointer; color: blue;">Sort it</a></span>
          <button mat-button color="primary" (click)="onInstall({repoName: database.name, version: db.version})" *ngIf="database.parametersSet[(management$|async).environment]">Install version</button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-action-row>
      <span class="cannot-install-text" *ngIf="!database.parametersSet[(management$|async).environment]">Cannot install application as some parameters are missing.  <a (click)="onSelectDatabase(database)" style="cursor: pointer; color: blue;">Sort it</a></span>
      <button mat-button color="primary" (click)="onInstall({repoName: database.name})" *ngIf="database.parametersSet[(management$|async).environment]">Install application</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
<mat-action-row>
  <button mat-button color="primary" *ngIf="(database$|async)?.installationProgressArray" routerLink="log-progress">See installation {{(database$|async)?.installingDatabases ? 'progress': 'logs'}}</button>
  <button mat-button color="primary" *ngIf="(management$|async)?.environment === 'local'" (click)="onInstall('Application', null)">Install all</button>
</mat-action-row>