<div class="bodyComponent">
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-toolbar-row>
      <mat-icon class="example-icon" style="cursor: pointer; margin-right: 10px;" routerLink="/">
        home
      </mat-icon>
      <span>Repo management</span>
      <button mat-button [matMenuTriggerFor]="menu"  *ngIf="!(management$|async)?.gettingEnvironments">{{(management$|async)?.environment}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSelecteEnvironment(environment.environmentName)" *ngFor="let environment of (management$|async)?.environments">{{environment.environmentName}}</button>
      </mat-menu>
      <span class="spacer"></span>
      <button mat-button (click)="onRunDiscovery()">
        <mat-icon class="example-icon">youtube_searched_for</mat-icon>
      </button>
      <button mat-button routerLink="settings">
        <mat-icon class="example-icon">settings</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar *ngIf="!(management$|async)?.serverConnected" color="warn">
    <mat-toolbar-row>
      <span>Server not connected...</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar *ngIf="(management$|async)?.currentDiscoveryStep">
    <mat-toolbar-row>
      <span>{{(management$|async)?.currentDiscoveryStep?.stepName}}.</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container style="min-height: 500px;">
    <mat-drawer mode="side" [opened]="(management$|async)?.serverConnected" backgroundColor="accent">
      <mat-nav-list style="background-color: #e1e1e1;">

        <mat-list-item *ngIf="(management$|async)?.repositories?.length > 0" routerLink="repositories" routerLinkActive="active-link">
          <button mat-icon-button>
            <mat-icon>folder</mat-icon>
          </button>
          <a matLine>Repositories</a>
        </mat-list-item>

        <mat-list-item *ngIf="(management$|async)?.hasDatabases" (click)="databasesOpen = !databasesOpen">
          <button mat-icon-button>
            <mat-icon>storage</mat-icon>
          </button>
          <a matLine>Databases</a>
          <br>
        </mat-list-item>

        <mat-list-item *ngIf="(management$|async)?.hasDatabases && databasesOpen" style="background-color: #f1f1f1;" routerLink="databases/install"
          routerLinkActive="active-link">
          <a matLine>Installation</a>
          <br>
        </mat-list-item>


        <mat-list-item *ngFor=" let database of (databasesOpen? (databases$|async)?.databases : [])" (click)="onSelectDatabase(database)"
          routerLinkActive="active-link" style="background-color: #f1f1f1;">
          <a matLine>{{database.name}}</a>
          <br>
        </mat-list-item>

      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>