<div>
  <h2>Welcome to the management application</h2>
  <span>This application is aimed to help with my (and maybe your) coding process.</span>
  <span>It works on an infrastructure based on AWS Lambda functions calling a Postgres server.</span>
  <mat-divider></mat-divider>
  <h3>Pre-requisites</h3>
  <p>In order for this application to work, the file structure is the following :
      <span>- The database folders should be suffixed with an identifiable suffix editable in  <a routerLink="settings">settings</a></span>
      <br/><span>- The middle tier folders should be suffixed with an identifiable suffix editable in  <a routerLink="settings">settings</a></span>
      <br/><span>- This application should run at the same level as your repositories</span>
      <br/><span>serverless.yml</span>
      <br/><span>variable.yml</span>
      <br/><span>version folders and version.json</span>
  </p>


</div>